/* Box Model */

/* * {
    outline: 2px solid red;
  } */ 


/* Global */

html {
  font-family: "Comic Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
}

body,
main {
  width: 100%;
}
 
article,
div, 
section {
  border-radius: 10px;
}

button {
  margin-top: 2em;
  padding: .75em 1em;
  font-family: "Comic Neue", sans-serif;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.gray-1 {
  background-color: #495057;
  color: #fff;
}

.gray-2 {
  background-color: #6c757d;
  color: #fff;
}

.gray-3 {
  background-color: #ced4da;
  color: #333;
}

.gray-4 {
  background-color: #e9ecef;
  color: #333;
}

/* Header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 106px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header nav,
.second-navbar nav {
  flex: 1;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.title {
  padding-left: 2em;
  padding-right: 4em;
}

.search {
    padding: 0 2em;
  }

.search input {
  width: 351px;
  height: 58px;
  padding-left: 2em;
  font-size: .8rem;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width: 1300px){
  .search input {
    display: none;
  }
}

/* Second Navbar*/

.second-navbar {
  position: relative;
  top: 106px;
  width: 100%;
  padding: 1em ;
  padding-right: 4em;
  width: 100%;
  height: 55px;
  font-size: .8rem;
}

@media screen and (max-width: 1000px){
  .second-navbar {
    display: none;
  }
}

/* Entries */

.main-section {
  position: relative;
  margin-top: 6em;
  padding: 0 4em;
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 400px 150px 150px;
  column-gap: 6em;
  row-gap: 2em;
  grid-template-areas: "post-1  subscribe"
                       "post-2  subscribe"
                       "post-3  subscribe";
}

.post,
.subscribe,
.explore-item {
  padding: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.first-post {
  grid-area: post-1;
}

.second-post {
  grid-area: post-2;
}

.third-post {
  grid-area: post-3;
}

.subscribe-item {
  padding-top: 7em;
}

.subscribe-item {
  grid-area: subscribe;
}

.subscribe input {
  margin-top: 1em;
  width: 200px;
}

.post h3,
.subscribe h3 {
  font-size: 1.2rem;
}

.post p,
.subscribe p {
  margin-top: 5em;
  font-family: "Playfair Display", serif;
  font-size: .8rem;
  font-weight: 300;
}

/* Explore */

.explore {
  margin: 2em 3em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.explore-item {
  margin-top: .5em;
  width: 440px;
  height: 480px;
}

.explore-item h3 {
  font-size: 1.2rem;
}

.explore-item p{
  margin-top: 5em;
  font-family: "Playfair Display", serif;
  font-size: .8rem;
  font-weight: 300;
}

/* Latest Posts */

.latest-posts-grid {
  position: relative;
  margin-top: 6em;
  padding: 0 4em;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 16em);
  column-gap: auto;
  row-gap: 2em;
}

.last-post {
  width: 25em;
}

.second-column-post {
  justify-self: end;
}

@media screen and (max-width: 1450px){
  .latest-posts-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

/* Smashing Family */

.family {
  position: relative;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.family-item {
  margin: 2em;
}